
html {
  font-size: 62.5%;
}

.set-width {
  width: 300px;
}

.set-size  {
  height: 6rem;
  width: 6rem;
  font-size: 2rem;
}
.outline {
  background-color: rgb(212, 211, 211);
  box-shadow: 0 0 10rem rgb(199, 199, 199);
  border-radius: 1rem;
}

.display-answer {
  text-align: right;
  padding-right: 3rem;
  background-color: rgb(112, 112, 112);
  font-size: 6rem;
}

.btn-color{
  background-color: rgb(87, 69, 192);
}
